.feature {
    @include p1();
    padding-left: 4.2rem;
    width: 100%;
    position: relative;

    &__text {
        @include p1();
    }
    
    img {
        width: 3rem;
        height: 3rem;
    }

    &::before {
        content: url(../images/more.png);

        position: absolute;
        top: 0;
        left: 0;
        size: 3rem;
    
    }

}