.review {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($tablet) {
        flex-direction: row;
    }

    &__image {
        @include img;
        width: 7.5rem;
        height: 7.5rem;
        background-color: $primaryColor;
        border-radius: 50%;
        margin-bottom: 1.6rem;

        @media ($tablet) {
            margin-right: 2.7rem;
            margin-bottom: 0;
            flex-shrink: 0;
        }   
    }

    &__text {
        position: relative;
        background-color: $grey2;
        padding-left: 1.5rem;
        border-radius: 1rem;
        padding: 1.6rem 2rem 1.2rem 1.5rem;
        @include p2();

        ::before {
            content: '';
            position: absolute;
            top: calc(50% - 1rem);
            left: -1rem;
            background-color: $grey2;
            width: 2rem;
            height: 2rem;
            transform: rotate(45deg);

            @media ($tablet) {
                top: 2.8rem;
                left: -1rem;
            }
        }

        &-item {
            font-style: italic;
            margin-bottom: 0.8rem;
        }
        &-author {
            color: $grey1;
        }

    }
        
    
}